<div class="sort">
  <div class="sort__by">
    <label for="sort-by__title">Сортировать по:</label>
    <select name="sort-by" id="sort-by">
      <option value="price">По цене</option>
      <option value="alphabet">По алфавиту</option>
      <option value="rating">По рейтингу</option>
    </select>
  </div>

  <div class="sort__info">
    <p>Товаров <span>9</span> из <span>31</span></p>
  </div>

  <div class="sort__view">
    <button class="sort__view-btn">
      <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M26 18H6C5.44772 18 5 18.4477 5 19V24C5 24.5523 5.44772 25 6 25H26C26.5523 25 27 24.5523 27 24V19C27 18.4477 26.5523 18 26 18Z"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M26 7H6C5.44772 7 5 7.44772 5 8V13C5 13.5523 5.44772 14 6 14H26C26.5523 14 27 13.5523 27 13V8C27 7.44772 26.5523 7 26 7Z"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </button>
    <button class="sort__view-btn sort__view-btn--active">
      <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M14 6H6V14H14V6Z"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M26 6H18V14H26V6Z"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M14 18H6V26H14V18Z"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M26 18H18V26H26V18Z"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </button>
    <div class="sort__view-counts">
      <label for="sort-view">Сортировать по:</label>
      <select name="select" id="sort-view">
        <option value="price">9</option>
        <option value="alphabet">18</option>
        <option value="rating">36</option>
      </select>
    </div>
  </div>
</div>
