<div class="bye-more">
  <h2 class="bye-more__title">С ЭТИМ ТОВАРОМ ЧАСТО ПОКУПАЮТ</h2>
  <div class="bye-more--wrapper">
    <div class="bye-more__item item">
      <div class="item__img">
        <!-- <img src="" alt=""> -->
      </div>
      <div class="item__title">Кольчуга клёпаная<br />10 мм. (АК)</div>
      <div class="item__stock">В наличии: <span>12</span></div>
      <div class="item__rating">⭐⭐⭐⭐⭐</div>
      <div class="item__price">42 400 руб</div>
      <button class="item__btn btn">В корзину</button>
    </div>
    <div class="bye-more__item item">
      <div class="item__img">
        <!-- <img src="" alt=""> -->
      </div>
      <div class="item__title">Кольчуга клёпаная<br />10 мм. (АК)</div>
      <div class="item__stock">В наличии: <span>12</span></div>
      <div class="item__rating">⭐⭐⭐⭐⭐</div>
      <div class="item__price">42 400 руб</div>
      <button class="item__btn btn">В корзину</button>
    </div>
    <div class="bye-more__item item">
      <div class="item__img">
        <!-- <img src="" alt=""> -->
      </div>
      <div class="item__title">Кольчуга клёпаная<br />10 мм. (АК)</div>
      <div class="item__stock">В наличии: <span>12</span></div>
      <div class="item__rating">⭐⭐⭐⭐⭐</div>
      <div class="item__price">42 400 руб</div>
      <button class="item__btn btn">В корзину</button>
    </div>
  </div>
</div>
