<aside class="filters">
  <div class="filters__header">
    <h2 class="filters__title">Фильтры</h2>
    <button class="filters__btn">
      <svg width="24" height="24" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M24 12.8H27.2C28.0836 12.8 28.8 13.5164 28.8 14.4L28.7999 26.8C28.7999 27.9046 27.9045 28.8 26.7999 28.8L14.4 28.8C13.5163 28.8 12.8 28.0837 12.8 27.2V24M16 3.20001L6.39995 3.20001C4.63264 3.20001 3.19995 4.6327 3.19995 6.40001L3.19995 16C3.19995 17.7673 4.63264 19.2 6.39995 19.2L16 19.2C17.7673 19.2 19.2 17.7673 19.2 16L19.2 6.40001C19.2 4.6327 17.7673 3.20001 16 3.20001Z"
          stroke="#FFFEF8" stroke-width="2" stroke-linecap="round" />
      </svg>
    </button>
    <button class="filters__btn"><svg width="24" height="24" viewBox="0 0 32 32" fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <path
          d="M20.5254 11.4745L16 16M16 16L11.4745 20.5254M16 16L20.5254 20.5254M16 16L11.4745 11.4745M28.7999 7.99995L28.7999 24.0001C28.7999 26.6511 26.6509 28.8001 23.9999 28.8001H7.99995C5.34898 28.8001 3.19995 26.6511 3.19995 24.0001V7.99995C3.19995 5.34898 5.34898 3.19995 7.99995 3.19995H23.9999C26.6509 3.19995 28.7999 5.34898 28.7999 7.99995Z"
          stroke="#FFFEF8" stroke-width="2" stroke-linecap="round" />
      </svg></button>
  </div>

  <div class="filters__body">

    <div class="search-filter">
      <input class="search-filter__input" type="text" name="text" placeholder="Search product" value="">
    </div>

    <div class="type-filter">
      <h3 class="type-filter__title">Тип:</h3>
      <ul class="type-filter__list">
        <li class="type-filter__item">
          <input type="checkbox" id="head">
          <label for="head">Защита головы</label>
        </li>
        <li class="type-filter__item">
          <input type="checkbox" id="body">
          <label for="body">Защита корпуса</label>
        </li>
        <li class="type-filter__item">
          <input type="checkbox" id="hand">
          <label for="hand">Защита кистей</label>
        </li>
        <li class="type-filter__item">
          <input type="checkbox" id="foot">
          <label for="foot">Защита ног</label>
        </li>
        <li class="type-filter__item">
          <input type="checkbox" id="other">
          <label for="other">Прочие элементы</label>
        </li>
      </ul>
    </div>

    <div class="sale-filter">
      <h3 class="sale-filter__title">Скидки:</h3>
      <ul class="sale-filter__list">
        <li class="sale-filter__item">
          <input type="checkbox" id="sale">
          <label for="sale">Товары со скидкой</label>
        </li>
      </ul>
    </div>

    <!-- In stock -->
    <div class="stock-filter">
      <h3 class="stock-filter__title">В наличии:</h3>
      <div class="stock-filter__slider">
        <input class="stock-filter__input" type="number" value="1" min="0" max="34" />
        <input class="stock-filter__range" type="range" value="1" min="0" max="34">
      </div>
    </div>
    <!-- Price -->
    <div class="price-filter">
      <h3 class="price-filter__title">Цена:</h3>
      <div class="price-filter__slider">
        <div class="price-filter__input-group">
          <input class="price-filter__input" type="number" value="1" min="0" max="999999" />
          <input class="price-filter__input" type="number" value="999999" min="0" max="999999" />
        </div>

        <div class="price-filter__range-group">
          <input class="price-filter__range" type="range" value="1" min="0" max="999999">
          <input class="price-filter__range" type="range" value="999999" min="0" max="999999">
        </div>
      </div>
    </div>
  </div>

  </div>
</aside>