.filters {
  align-self: flex-start;
  width: 25%;
  padding-bottom: 64px;
  /* height: 560px; */

  background-color: var(--color-white);
  border: 1px solid var(--color-white);
  border-radius: 6px;
}

.filters__header {
  display: flex;
  align-items: center;

  height: 64px;
  padding: 0 18px;
  background-image: linear-gradient(180deg, #0E1017 0%, #0F0E17 40%, #373633 98%);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.filters__btn:first-of-type {
  margin-left: auto;
  margin-right: 8px;
}

.filters__body {
  padding: 18px;
  color: var(--color-black)
}

.search-filter__input {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  color: var(--color-black);
  border-radius: 6px;
}

[class$="-filter__title"] {
  margin: 0;
  margin-top: 36px;
}

.type-filter__list,
.sale-filter__list {
  margin:0;
  padding-left: 8px;
  list-style:none;

  margin-top: 14px;
}

.filters [class$="-filter__item"] {
  margin-top: 8px;
}

[class$="-filter__item"] label {
  cursor: pointer;
}

.stock-filter__slider,
.price-filter__slider {
  display: flex;
  flex-direction: column;
  margin-top: 14px;
}


.stock-filter__input,
.price-filter__input {
  position: relative;
  display: inline-block;
  margin-left: 8px;
  padding: 4px 8px;
  width: 80px;
  color: var(--color-black);
  line-height: 20px;
  text-align: center;
  background: white;
  border: 2px solid var(--color-black);
  border-radius: 6px;
}

.stock-filter__range,
.price-filter__range {
  -webkit-appearance: none;
  width: 94%;
  height: 4px;
  margin: 0;
  margin-top: 18px;
  margin-left: 8px;
  padding: 0;
  border-radius: 4px;
  background: var(--color-gray);
}

/* Range Handle */
.stock-filter__range::-webkit-slider-thumb,
.price-filter__range::-webkit-slider-thumb {
  appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: var(--color-black);
  cursor: pointer;
}
.stock-filter__range::-moz-range-thumb,
.price-filter__range::-moz-range-thumb {
  width: 16px;
  height: 16px;
  border: 0;
  border-radius: 50%;
  background: var(--color-black);
  cursor: pointer;
}

.price-filter__input-group {
  display: flex;
  justify-content: space-between;
}

.price-filter__range-group {
  position: relative;
}

.price-filter__range {
  position: absolute;
}

.price-filter__range::-webkit-slider-thumb {
  z-index: 2;
  position: relative;
}
/* Реализация работы слайдера цены JS */
/* https://codepen.io/blueocto/pen/KvJmEW?editors=1100 */