<div class="store__item item">
  <a class="item__link" href="#">
    <div class="item__img"></div>
    <div class="item__title">Кольчуга клёпаная<br />10 мм. (АК)</div>
    <div class="item__stock">В наличии: <span>12</span></div>
    <div class="item__rating">⭐⭐⭐⭐⭐</div>
    <div class="item__description">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores accusantium labore pariatur veniam quos velit
      odit ut saepe fuga.
    </div>
    <div class="item__price">42 400 руб</div>
  </a>
  <button class="item__btn btn">В корзину</button>
</div>
