.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 32%;
  height: 520px;
  padding: 18px;
  color: var(--color-black);
  background-image: linear-gradient(180deg, #ffd39f 20%, #f8eaca 80%);
  border-radius: 6px;
}

.item__link {
  text-align: center;
  text-decoration: none;
  color: var(--color-black);
}

.item__img {
  width: 270px;
  height: 270px;
  background-color: var(--color-success);
  border-radius: 6px;
}

.item__title {
  margin-top: 8px;
  font-size: 20px;
  text-align: center;
}

.item__stock {
  margin-top: 8px;
  font-size: 14px;
  color: var(--color-gray-dark);
}

.item__stock span {
  font-weight: 700;
}

.item__rating {
  margin-top: 4px;
}

.item__price {
  margin-top: 18px;
  font-size: 26px;
  font-weight: 700;
}

.item__btn {
  width: 100%;
  margin-top: auto;
  padding: 10px 0;
  font-size: 18px;
  background-color: var(--color-main);
  border: 1px solid var(--color-black);
  border-radius: 6px;

  transition: background-color 0.1s ease-in;
}

.item__btn:hover,
.item__btn:focus {
  background-color: var(--color-secondary);
}